<!--
authors:        Eren Kocadag, Benedikt Schmitz, Feliks Vdovichenko, Lucie Prokopy, Leiss Abdal Al, Johannes Ehrich
institution:    Freie Universität Berlin
institute:      Institut für Informatik
module:         SWP - Usable Machine Learning 
year:           2023
-->

<div class="settings-ctr">
    <div class="settings-title">ADJUSTMENTS</div>
    <div class="settings-description">In this menu, certain parameters of the AI can be changed. The parameters directly change the learning behavior of the machine learning. Hover over the question marks to get precise information.</div>
    <div class="line"></div>
    <div class="settings-main-ctr settings-contents">
        <div class="adjust-input-ctr">
            <div class="input-txt" id="adjust-a1">
                <div class="adjust-txt" >Learning rate</div>
                
                <button type="button" class="btn btn-secondary tooltip-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="
                The learning rate controls how large the changes to the model are. 
                If the learning rate is too small, it takes a very long time to find a solution, while too large a learning rate can cause the model to reach a suboptimal solution too quickly.
                The learning rate can be a number between 0.0 and 1.0.">
                    <img class="adjust-qm" src="{{ url_for('static', filename='images/qm.svg') }}">
                </button>
                
                
                <p class="help-tip-learning help-tip">
                    
                </p>
            </div>
            <div class="input adjust-slider" id="adjust-slider1">
                <input type="range" class="form-range adjust-input block_item" min="0" max="1" step="0.05" id="customRange1">
                <div class="sliderValue" id="sliderValue1">0</div>
            </div>
        </div>
        <div class="adjust-input-ctr">
            <div class="input-txt" id="adjust-a2">
                <div class="adjust-txt">Momentum</div>
                <button type="button" class="btn btn-secondary tooltip-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="
                The momentum controls how much the previous updates of the model affect the current update of the model.
                The momentum can be a number between 0.0 and 1.0.">
                <img class="adjust-qm" src="{{ url_for('static', filename='images/qm.svg') }}">
                </button>
            </div>
            <div class="input adjust-slider" id="adjust-slider2">
                <input type="range" class="form-range adjust-input block_item" min="0" max="1" step="0.05"  id="customRange2">
                <div class="sliderValue" id="sliderValue2">0</div>
            </div>
        </div>
        <div class="adjust-input-ctr">
            <div class="input-txt" id="adjust-a3">
                <div class="adjust-txt">Dropout rate</div>
                <button type="button" class="btn btn-secondary tooltip-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="The neural network has two hard coded dropout layers, one at the first layer and one in the middle. Both layers take the number you set it to which will be a proability between 0 and 1 that describes, the likelyhood of the dropout layer turning the pixel it gets into a zero. This can help the neural network to train without adjusting too much to the training data.">
                <img class="adjust-qm" src="{{ url_for('static', filename='images/qm.svg') }}">
                </button>
            </div>
            <div class="input adjust-slider" id="adjust-slider3">
                <input type="range" class="form-range adjust-input block_item" min="0" max="1" step="0.05" id="customRange3">
                <div class="sliderValue" id="sliderValue3">0</div>
            </div>
        </div>
        <div class="adjust-input-ctr">
            <div class="input-txt" id="adjust-a2">
                <div class="adjust-txt">Loss function</div>
                <button type="button" class="btn btn-secondary tooltip-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="With the loss function you can set the way the neural network will measure how close it's predictions are to the actual labels of the images it trains on. Generally cross entropy is a recommended loss function for this type of neural network. For more details about how  the other functions work consider some researching.">
                <img class="adjust-qm" src="{{ url_for('static', filename='images/qm.svg') }}">
                </button>
            </div>
            <select class="form-select adjust-input block_item" aria-label="loss-function" id="adjust-dropdown1">
                <option value="0" selected>Cross Entropy</option>
                <option value="4">L1 Loss</option>
                <option value="1">Multi Margin Loss</option>
                <option value="2">Multilabel Soft Margin Loss</option>
                <option value="6">Poisson NLL Loss</option>
                <option value="5">Smooth L1 Loss</option>
                <option value="3">Soft Margin Loss</option>
            </select>
        </div>
        <div class="adjust-input-ctr">
            <div class="input-txt" id="adjust-a4">
                <div class="adjust-txt">Epochs</div>
                <button type="button" class="btn btn-secondary tooltip-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="
                In each epoch, the model iterates over the entire data set and gets evaluated at the end of the epoch.
                An epoch consists of smaller steps called batches.
                This slider determines how many epochs the model should run through.">
                <img class="adjust-qm" src="{{ url_for('static', filename='images/qm.svg') }}">
                </button>
            </div>
            <div class="input adjust-slider" id="adjust-slider4">
                <input type="range" class="form-range adjust-input block_item" min="1" max="20" step="1" id="customRange4">
                <div class="sliderValue" id="sliderValue4">1</div>
            </div>
        </div>
        <div class="adjust-input-ctr">
            <div class="input-txt" id="adjust-a5">
                <div class="adjust-txt">Batch size</div>
                <button type="button" class="btn btn-secondary tooltip-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="
                The batch size determines how large each step in the training and testing should be. Meaning that it is inversly proportional to the number of batches that will be run per epoch.">
                <img class="adjust-qm" src="{{ url_for('static', filename='images/qm.svg') }}">
                </button>

            </div>
            <div class="input adjust-slider" id="adjust-slider5">
                <input type="range" class="form-range adjust-input block_item" min="1" max="500" step="1" id="customRange5">
                <div class="sliderValue" id="sliderValue5">1</div>
            </div>
        </div>
    </div>
</div>
