<!--
authors:        Eren Kocadag, Benedikt Schmitz, Feliks Vdovichenko, Lucie Prokopy, Leiss Abdal Al, Johannes Ehrich
institution:    Freie Universität Berlin
institute:      Institut für Informatik
module:         SWP - Usable Machine Learning 
year:           2023
-->

<div class="settings-ctr">
    <div class="settings-title">DIAGRAM</div>
    <div class="settings-description">In this menu, you can change which parameter should be shown in the graphs and which runs should be compared. For this, there are two graphs available.</div>
    <div class="line"></div>

    <div class="settings-main-ctr">
        <div class="card text-bg-dark mb-3">
            <div class="card-header">First diagram</div>
            <div class="card-body">
                <div>Choose shown parameter:</div>
                <select class="form-select adjust-input adjust-dropdown1">
                    <option value="0" selected>Accuracy (test set)</option>
                    <option value="1">Loss (test set)</option>
                    <option value="2">Accuracy (train set)</option>
                    <option value="3">Loss (train set)</option>
                </select>
            </div>
        </div>

        <div class="card text-bg-dark mb-3">
                <div class="card-header">
                    <div>Second diagram</div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    </div>
                </div>
            <div class="card-body" id="second-card-body">
                <div>Choose shown parameter:</div>
                <select class="form-select adjust-input adjust-dropdown2">
                    <option value="0">Accuracy (test set)</option>
                    <option value="1" selected>Loss (test set)</option>
                    <option value="2">Accuracy (train set)</option>
                    <option value="3">Loss (train set)</option>
                </select>
            </div>
        </div> 
        <div class="card text-bg-dark mb-3" id="dia_join_ctr">
            <div class="card-header">
                <div>Join diagrams</div>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" role="switch" id="joinDiagramsSwitch">
                </div>
            </div>    
        </div>  
        <div class="line"></div> 
        <div class="mb-3">
            <div class="card-body" style="display: flex;">
                <div style="width: 100%; margin-right: 1%;"></div>
                <div class="reset-dia-zoom-ctr"><button type="button" class="btn btn-outline-light" id="reset-zoom-button">Reset zoom</button></div>
            </div>    
        </div>
    </div>
</div>
