<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-xl">
      <div class="modal-content modal-xl">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="helpModalLabel">HELP</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
      
          <!-- DEFINE TAB TITLES HERE -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active help-link" id="1-tab" data-bs-toggle="tab" data-bs-target="#1-tab-pane" type="button" role="tab" aria-controls="1-tab-pane" aria-selected="true">The Software</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link help-link" id="2-tab" data-bs-toggle="tab" data-bs-target="#2-tab-pane" type="button" role="tab" aria-controls="2-tab-pane" aria-selected="false">Start</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link help-link" id="3-tab" data-bs-toggle="tab" data-bs-target="#3-tab-pane" type="button" role="tab" aria-controls="3-tab-pane" aria-selected="false">Adjustments</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link help-link" id="4-tab" data-bs-toggle="tab" data-bs-target="#4-tab-pane" type="button" role="tab" aria-controls="4-tab-pane" aria-selected="false">Diagram</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link help-link" id="5-tab" data-bs-toggle="tab" data-bs-target="#5-tab-pane" type="button" role="tab" aria-controls="5-tab-pane" aria-selected="false">History</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link help-link" id="6-tab" data-bs-toggle="tab" data-bs-target="#6-tab-pane" type="button" role="tab" aria-controls="6-tab-pane" aria-selected="false">Models</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link help-link" id="7-tab" data-bs-toggle="tab" data-bs-target="#7-tab-pane" type="button" role="tab" aria-controls="7-tab-pane" aria-selected="false">Testing</button>
            </li>
          </ul>


          <div class="tab-content" id="myTabContent">
          <!-- HELPCENTER CONTENT HERE -->

            <!-- 1 -->
            <div class="tab-pane fade show active help-pane" id="1-tab-pane" role="tabpanel" aria-labelledby="1-tab" tabindex="0">
              <div class="tab-pane-inner">
                <div style="visibility: hidden;"> <button class="arrow-button"><img class="arrow-left" src="../../../static/images/arrow-left.png" alt="arrow-left"></button></div>
                <div class="tab-pane-content">
                  <div class="tab-pane-img"><img class="img-fluid" src="../../../static/images/help/1.jpeg" alt=""></div>
                  <div class="tab-pane-headline">The Software</div>
                  <div class="tab-pane-text">The purpose of this software is to train a neural network for number recognition. This is accomplished by utilizing a specific neural network provided by the software and training it on a widely recognized dataset known as the MNIST dataset, consisting of around 70.000 images of handdrawn numbers. During each training epoch the neural network goes through the entire data set, through smaller batches, trying to learn connections between the images and the number it represents.</div>
                </div>
                <div> <button class="arrow-button" id="1to2"><img class="arrow-right" src="../../../static/images/arrow-right.png" alt="arrow-left"></button></div>
              </div>
            </div>


 
            <!-- 2 -->
            <div class="tab-pane fade help-pane" id="2-tab-pane" role="tabpanel" aria-labelledby="2-tab" tabindex="0">
              <div class="tab-pane-inner">
                <div> <button class="arrow-button" id="2to1"><img class="arrow-left" src="../../../static/images/arrow-left.png" alt="arrow-left"></button></div>
                <div class="tab-pane-content">
                  <div class="tab-pane-img"><img class="img-fluid" src="../../../static/images/help/2.gif" alt=""></div>
                  <div class="tab-pane-headline">Start</div>
		  <div class="tab-pane-text">When you are ready to start the training you can press the start button. This will take in account all the adjustments you have made beforehand and start going through each epoch, while giving you feedback on the progress through the bar seen right of the start button.<div class="red-text">Note that an epoch can last up to 40 seconds.</div></div>
                </div>
                <div> <button class="arrow-button" id="2to3"><img class="arrow-right" src="../../../static/images/arrow-right.png" alt="arrow-left"></button></div>
              </div>
            </div>


            <!-- 3 -->
            <div class="tab-pane fade help-pane" id="3-tab-pane" role="tabpanel" aria-labelledby="3-tab" tabindex="0">
              <div class="tab-pane-inner">
                <div> <button class="arrow-button" id="3to2"><img class="arrow-left" src="../../../static/images/arrow-left.png" alt="arrow-left"></button></div>
                <div class="tab-pane-content">
                  <div class="tab-pane-img"><img class="img-fluid" src="../../../static/images/help/3.gif" alt=""></div>
                  <div class="tab-pane-headline">Adjustments</div>
                  <div class="tab-pane-text">In the Adjustments tab, you will discover settings that can modify the behavior of the neural network training process. Furthermore, you can read about the effects the values have, by hovering over the questionmark symbol. To make new values take an effect, you can set the sliders to the desired value and observe the effect by starting a new run. During a run the same value will be taken into account even if you change the sliders while the run is ongoing.</div>
                </div>
                <div> <button class="arrow-button" id="3to4"><img class="arrow-right" src="../../../static/images/arrow-right.png" alt="arrow-left"></button></div>
              </div>
            </div>

            <!-- 4 -->
            <div class="tab-pane fade help-pane" id="4-tab-pane" role="tabpanel" aria-labelledby="4-tab" tabindex="0">
              <div class="tab-pane-inner">
                <div> <button class="arrow-button" id="4to3"><img class="arrow-left" src="../../../static/images/arrow-left.png" alt="arrow-left"></button></div>
                <div class="tab-pane-content">
                  <div class="tab-pane-img"><img class="img-fluid" src="../../../static/images/help/4.gif" alt=""></div>
                  <div class="tab-pane-headline">Diagram</div>
                  <div class="tab-pane-text">The Diagram tab provides options for customizing the content and presentation of the diagrams on the left. You have the option of looking into the loss and the accuracy for the testing set and training set. While accuracy describes how well the model can predict the labels of a data set, loss measures how offset the predictions were from the actual labels. There is also a difference between training and test set, so that one can measure the performance of the neural network on images that the it has not seen before.</div>
                </div>
                <div> <button class="arrow-button" id="4to5"><img class="arrow-right" src="../../../static/images/arrow-right.png" alt="arrow-left"></button></div>
              </div>
            </div>

            <!-- 5 -->
            <div class="tab-pane fade help-pane" id="5-tab-pane" role="tabpanel" aria-labelledby="5-tab" tabindex="0">
              <div class="tab-pane-inner">
                <div> <button class="arrow-button" id="5to4"><img class="arrow-left" src="../../../static/images/arrow-left.png" alt="arrow-left"></button></div>
                <div class="tab-pane-content">
                  <div class="tab-pane-img"><img class="img-fluid" src="../../../static/images/help/5.gif" alt=""></div>
                  <div class="tab-pane-headline">History</div>
                  <div class="tab-pane-text">The History tab provides a detailed overview of the training progress. Within this tab,you can track the values used for each run and gain deeper insights into the training process. </div>
                </div>
                <div> <button class="arrow-button" id="5to6"><img class="arrow-right" src="../../../static/images/arrow-right.png" alt="arrow-left"></button></div>
              </div>
            </div>

            <!-- 6 -->
            <div class="tab-pane fade help-pane" id="6-tab-pane" role="tabpanel" aria-labelledby="6-tab" tabindex="0">
              <div class="tab-pane-inner">
                <div> <button class="arrow-button" id="6to5"><img class="arrow-left" src="../../../static/images/arrow-left.png" alt="arrow-left"></button></div>
                <div class="tab-pane-content">
                  <div class="tab-pane-img"><img class="img-fluid" src="../../../static/images/help/6.gif" alt=""></div>
                  <div class="tab-pane-headline">Saving and loading models</div>
                  <div class="tab-pane-text">the Models tab enables you to save the current model, providing the flexibility to train your neural network while having the option to revert to a specific model state when needed.</div>
                </div>
                <div> <button class="arrow-button" id="6to7"><img class="arrow-right" src="../../../static/images/arrow-right.png" alt="arrow-left"></button></div>
              </div>
            </div>

            <!-- 7 -->
            <div class="tab-pane fade help-pane" id="7-tab-pane" role="tabpanel" aria-labelledby="7-tab" tabindex="0">
              <div class="tab-pane-inner">
                <div> <button class="arrow-button" id="7to6"><img class="arrow-left" src="../../../static/images/arrow-left.png" alt="arrow-left"></button></div>
                <div class="tab-pane-content">
                  <div class="tab-pane-img"><img class="img-fluid" src="../../../static/images/help/7.gif" alt=""></div>
                  <div class="tab-pane-headline">Testing the model</div>
                  <div class="tab-pane-text">The Graph provides valuable insights into the training of the model. Additionally, you have the option to switch to the 'Test' window, where you can evaluate a hand-drawn number using the current model, gaining real-time feedback on its recognition capabilities.</div>
                </div>
                <div style="visibility: hidden;"> <button class="arrow-button"><img class="arrow-right" src="../../../static/images/arrow-right.png" alt="arrow-left"></button></div>
              </div>
            </div>
          
          
          </div>
        </div>
      </div>
    </div>
</div>
