<!--
authors:        Eren Kocadag, Benedikt Schmitz, Feliks Vdovichenko, Lucie Prokopy, Leiss Abdal Al, Johannes Ehrich
institution:    Freie Universität Berlin
institute:      Institut für Informatik
module:         SWP - Usable Machine Learning 
year:           2023
-->

<div class="settings-ctr">
  <div class="settings-title">HISTORY</div>
  <div class="settings-description"></div>
  <div class="line"></div>

  <div class="settings-contents" data-bs-theme="dark">
    <div class="placeholder_txt">history is empty</div>
    <div class="accordion" id="accordion_history"></div>
  </div>
</div>