<div class="settings-ctr">
  <div class="settings-title">HISTORY</div>
  <div class="settings-description"></div>
  <div class="line"></div>

  <div class="settings-contents" data-bs-theme="dark">
    <div class="accordion" id="accordion_history">
        <!-- <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    #1
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  <table class="table">
                      <thead>
                        <tr class="table-head">
                          <th scope="col">Item</th>
                          <th scope="col">Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Learning rate</td>
                          <td>99</td>
                        </tr>
                        <tr>
                          <td>Momentum</td>
                          <td>99</td>
                        </tr>
                        <tr>
                          <td>Dropout rate</td>
                          <td>99</td>
                        </tr>
                        <tr>
                          <td>Loss function</td>
                          <td>XY loss</td>
                        </tr>
                      </tbody>
                  </table>   
                  <div class="history-restore-ctr">
                    <button type="button" class="btn btn-secondary" id="history-plot-1">Plot in diagrams</button>
                    <button type="button" class="btn btn-primary" id="history-restore-1">Restore this values</button>
                  </div>                       
                </div>
            </div>
        </div> -->
    </div>
  </div>
</div>