MNIST
__pycache__
.DS_Store

DEV.conf
CUDA.conf

temp.py
*epoch_data.json
model.pth
*model.pt
model_new.pt
*model_new.pt
saved_models.json
index_models.json
output.png

epoch_data_backup.json
legacy_json_write.py

temp
temp.py
temp.txt
output.txt
commit.txt
del

output.png