<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bs.css') }}">
    <title>UsableML</title>

</head>
<body>
    <div id="root">
        {% include 'items/settings/help.html' %}
        {% include 'items/settings/reset.html' %}
        <div id="main">           
            {% include 'items/sidebar.html' %}
            <div class="column" id="settings-ctr">
                <div id="control-buttons-ctr">
                    <div class="line"></div>
                    <div id="control-buttons">
                        <button type="button" class="btn btn-outline-light btn-lg" id="restart">Restart</button>
                        <button type="button" class="btn btn-primary btn-lg" id="start">Start</button>
                    </div>
                </div>
                <div class="settings current-setting" id="adjust-settings">
                    {% include 'items/settings/adjust.html' %}
                </div>
                <div class="settings" id="diagram-settings">
                    {% include 'items/settings/diagram.html' %}
                </div>
                <div class="settings" id="history-settings">
                    {% include 'items/settings/history.html' %}
                </div>
                <div class="settings" id="models-settings">
                    {% include 'items/settings/models.html' %}
                </div>
            </div>
            <div class="column" id="main-ctr">
                {% include 'items/visual.html' %}
            </div>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.umd.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/socket.io/client-dist/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>

<script type="module" src="{{ url_for('static', filename='a_js/dia.js') }}" ></script>
<script type="module" src="{{ url_for('static', filename='a_js/navigate.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='a_js/adjust.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='a_js/send.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='a_js/onload.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='a_js/draw.js') }}"></script>

</html>