<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bs.css') }}">
    <title>UsableML</title>

    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/socket.io/client-dist/socket.io.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/hammerjs/hammer.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/chartjs-plugin-zoom/dist/chartjs-plugin-zoom.min.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='a_js/dia.js') }}" ></script>
    <script type="module" src="{{ url_for('static', filename='a_js/navigate.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='a_js/adjust.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='a_js/send.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='a_js/onload.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='a_js/draw.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='a_js/reset.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='a_js/alerts.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='a_js/tooltip.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='a_js/models.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='a_js/history.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='a_js/help.js') }}"></script>
</head>
<body>
    <div id="root">
        {% include 'items/settings/glossary.html' %}
        {% include 'items/settings/help.html' %}
        {% include 'items/settings/reset.html' %}
        <div id="main">           
            {% include 'items/sidebar.html' %}
            <div class="column" id="settings-ctr">
                <div id="status-dot">
                    <div id="server-dot-red">
                        <button type="button" class="btn btn-secondary tooltip-button">
                            <img class="server-dot" src="{{ url_for('static', filename='images/dot-red.svg') }}" alt="">
                            Offline
                        </button>
                    </div>
                    <div id="server-dot-green">
                        <button type="button" class="btn btn-secondary tooltip-button">
                            <img class="server-dot" src="{{ url_for('static', filename='images/dot-green.svg') }}" alt="">   
                            Online
                        </button> 
                    </div>
                </div>
                <div id="control-buttons-ctr">
                    <div class="line"></div>
                    <div id="control-buttons">
                        <div id="cb-left">
                            <div id="revert-ctr">
                                <div class="form-check btn btn-lg">
                                    <input class="form-check-input" type="checkbox" value="" id="revert">
                                    <button type="button" id="revertlabel_withtooltip"class="btn btn-secondary tooltip-button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="
                                    If selected, the last run is discarded and the training progress made there is ignored.">
                                    <label class="form-check-label" for="revert">
                                        Discard last run
                                    </label>
                                    </button>
                                    <label class="form-check-label" for="revert" id="revertlabel_notooltip">
                                        Discard last run
                                    </label>
                                </div>

                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-lg" id="start">Start</button>
                        <button type="button" class="btn btn-warning btn-lg" id="stop">Stop</button>
                    </div>
                </div>
                <div class="settings current-setting" id="adjust-settings">
                    {% include 'items/settings/adjust.html' %}
                </div>
                <div class="settings" id="diagram-settings">
                    {% include 'items/settings/diagram.html' %}
                </div>
                <div class="settings" id="history-settings">
                    {% include 'items/settings/history.html' %}
                </div>
                <div class="settings" id="models-settings">
                    {% include 'items/settings/models.html' %}
                </div>
            </div>
            <div class="column" id="main-ctr">
                {% include 'items/visual.html' %}
            </div>
        </div>
    </div>

    <!-- popup for revert-confirmation -->
    <div class="modal fade" id="revertModal" tabindex="-1" aria-labelledby="revertModalLabel" aria-hidden="true" data-bs-theme="dark">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="revertModalLabel">Are you sure you want to discard the last run?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You have ticked the box that you want to discard the last run. This means that the training progress of your last run will be ignored, the data will be removed and the model is reversed to the previous state.  
                <br><br>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="dsa_revert">
                    <label class="form-check-label" for="dsa_revert">
                      Don't show again.
                    </label>
                </div>
            </div>
            <div class="modal-footer">
              <button id="revert_cancelled" type="button" class="btn btn-outline-light" data-bs-dismiss="modal">No, cancel</button>
              <button id="revert_confirmed" type="button" class="btn btn-warning" data-bs-dismiss="modal">Yes, start</button>
            </div>
          </div>
        </div>
    </div>    
</body>
</html>