<!--
authors:        Eren Kocadag, Benedikt Schmitz, Feliks Vdovichenko, Lucie Prokopy, Leiss Abdal Al, Johannes Ehrich
institution:    Freie Universität Berlin
institute:      Institut für Informatik
module:         SWP - Usable Machine Learning
year:           2023
-->
<script type="module" src="{{ url_for('static', filename='a_js/adjust.js') }}"></script>




<div class="column" id="sidebar-ctr">
    <div class="kachel" id="adjustments-kachel">
        <button class="kachel_button current-kachel" id="adjust-button">
            <img src="{{ url_for('static', filename='images/adjustments.svg') }}" alt="">
            <div class="kachel-description">Adjust</div>
        </button>
    </div>
    <div class="kachel" id="diagram-kachel">
        <button class="kachel_button" id="diagram-button">
            <img src="{{ url_for('static', filename='images/diagram.svg') }}" alt="">
            <div class="kachel-description">Diagram</div>
        </button>
    </div>
    <div class="kachel" id="history-kachel">
        <button class="kachel_button" id="history-button">
            <img src="{{ url_for('static', filename='images/history.svg') }}" alt="">
            <div class="kachel-description">History</div>
        </button>
    </div>
    <div class="kachel" id="models-kachel">
        <button class="kachel_button" id="models-button">
            <img src="{{ url_for('static', filename='images/models.svg') }}" alt="">
            <div class="kachel-description">Models</div>
        </button>
    </div>
<div class="kachel" id="false-detection-kachel">
    <button type="button" class="kachel_button btn light" id="false-detection-button" onclick="startFalseDetection()">
        <img src="{{ url_for('static', filename='images/image.svg') }}" alt="Icon description" style="width:35px; height:35px;">
        <div class="kachel-description">Modify Labels</div>
    </button>
</div>

    <div id="loadingMessage" style="display: none;">
    <div class="text-center">
        <div class="spinner-border" role="status" style="margin-top: 20px;">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p style="text-align: center; margin-top: 10px;">Please Wait...</p>
    </div>
</div>


    <span id="sidebar-tobottom">
        <div class="kachel" id="glossary-kachel">
            <button id="glossary-button" data-bs-toggle="modal" data-bs-target="#glossaryModal">
                <img src="{{ url_for('static', filename='images/glossary.svg') }}" alt="">
                <div class="kachel-description">Glossary</div>
            </button>
        </div>
        <div class="kachel" id="help-kachel">
            <button id="help-button" data-bs-toggle="modal" data-bs-target="#helpModal">
                <img src="{{ url_for('static', filename='images/help.svg') }}" alt="">
                <div class="kachel-description">Help</div>
            </button>
        </div>
        <div class="kachel" id="reset-kachel">
            <button id="reset-button" data-bs-toggle="modal" data-bs-target="#resetModal">
                <img src="{{ url_for('static', filename='images/reset.svg') }}" alt="">
                <div class="kachel-description">Reset</div>
            </button>
        </div>
    </span>
</div>

<script>
function startFalseDetection() {
    document.getElementById("loadingMessage").style.display = "block"; // Display the "Please wait" message

    fetch('/fdi_start') // Start False detcted procces
    .then(response => response.json())
    .then(data => {
        if (data.status === "no_model") {
            document.getElementById("loadingMessage").style.display = "none"; // Hide the "Please wait" message
            alert('Please train the model or load a trained model'); // Notify the user
        }
        else if (data.status === "processing") {
            // Start polling the server every second to check if processing is done
            let interval = setInterval(() => {
                fetch('/fdi_status')
                .then(response => response.json())
                .then(data => {
                    if (data.status === "done") {
                        clearInterval(interval); // Stop polling
                        window.location.href = '/fdi'; // Redirect to a different endpoint to fetch final results
                    }
                });
            }, 1000);
        }
    });
}


</script>


