<div id="visual-upper-ctr">
    <div id="alerts_ctr">
        
    </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">TRAIN</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">TEST</button>
        </li>
    </ul>
</div>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <div class="visual-ctr">
            <div id="canvas-ctr">
                <div id="dia1-ctr"><canvas id="dia1"></canvas></div>
                <div id="dia2-ctr"><canvas id="dia2"></canvas></div>
                <div id="dia3-ctr"><canvas id="dia3"></canvas></div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        <div class="visual-ctr" id="drawing_tab">
            <div id="drawing-ctr">
                <div>
                    <div class="alert text-bg-dark" role="alert">
                        <span> Draw a number (0-9) in the following box: </span>
                    </div>
                    <div id="drawing1stcolumn">
                        <div id="blockCanvas" class="block_item"></div>
                        <canvas id="drawingcanvas" width="280" height="280"></canvas>
                        <div id="drawing_buttons">
                            <button type="button" class="btn btn-outline-light btn-lg" id="clear_drawing">Clear</button>
                            <button type="button" class="btn btn-success btn-lg" id="predict_drawing" disabled>Predict</button>
                        </div>
                        <div id="prediction-ctr">
                            <div class="alert" id="prediction-txt" role="alert">
                                <span> Prediction: </span>
                                <div class="alert text-bg-dark alert-success " role="alert" id="succ_pred_alert">
                                    <span id="predicted_no">&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="drawing2ndcolumn">
                    <div class="alert" role="alert">&nbsp;</div>
                    <div id="output-img-ctr">
                        <div></div>
                        <div id="output-img-placeholder">
                            <button type="button" class="btn btn-secondary tooltip-button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="an image will appear here showing how the model will receive the image.">
                                <img src="{{ url_for('static', filename='images/x-placeholder.png') }}" alt="">
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="visual-lower-ctr">  
    <div id="visual-lower">    
        <div class="progress" role="progressbar" aria-label="progress" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width:50%;"></div>
        </div>   
        
        <div id="progress-ctr">
            <div id="status-ctr">                
                <div id="current-accuracy-ctr"><span>current accuracy:</span><span id="current-accuracy"></span>%</div>
            </div>
        </div>
    </div>

    
</div>