<div id="visual-lower-ctr">
    <div id="alerts_ctr">
        
    </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">TRAIN</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">TEST</button>
        </li>
    </ul>
</div>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <div class="visual-ctr">
            <div id="canvas-ctr">
                <div id="dia1-ctr"><canvas id="dia1"></canvas></div>
                <div id="dia2-ctr"><canvas id="dia2"></canvas></div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        <div class="visual-ctr" id="drawing_tab">
            <canvas id="drawingcanvas" width="280" height="280"></canvas>
            
            <div class="alert text-bg-dark alert-success " role="alert" id="succ_pred_alert">
                <span id="predicted_no"></span>
              </div>

            <div id="drawing_buttons">
                <button type="button" class="btn btn-outline-light btn-lg" id="clear_drawing">Clear</button>
                <button type="button" class="btn btn-success btn-lg" id="predict_drawing">Predict</button>
            </div>
        </div>
    </div>
</div>